
@{
    ViewData["Title"] = "DeleteCity";
}
@model _0131MVCTest3.Models.City

<h2>DeleteCity</h2>
<body>
    
    <label>City Name:</label>@Model.Name<br />
    <label>Confirmed Number:</label>@Model.ConfirmedNum<br />
    <label>Death:</label>@Model.Death<br />
    <label>Recovery:</label>@Model.Recovery<br />
    <a href="@Url.Action("Index")">Back</a>


</body>
